@import 'ant-design-vue/dist/antd.less';
@import (css) url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

// Colors
@primary-color: #1b202f;
@secondary-color: #ff6c6c;

// Font
@text-color: @primary-color;
@font-size-base: 17px;
@font-size-lg: 20px;
@font-size-sm: 15px;

@heading-color: @primary-color;
@font-family: 'Lato', sans-serif;

// Button
@btn-height-base: 40px;
@btn-height-lg: 70px;
@btn-height-sm: 36px;
@btn-border-radius-base: 0;
